:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0C1E3E;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1920px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  max-width: 1920px;
  min-height: 100vh;
  overflow-x: hidden;
}

section {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  max-height: 1080px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

button {
  padding: 15px;
}

.hero {
  display: flex;
  flex-direction: column;
  width: 1920px;
  margin: 15rem 0;

  p {
    letter-spacing: 50px;
  }


  .col {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .row_info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 800px;
    h1 {
      font-size: 4rem;
    }

    /* From Uiverse.io by adamgiebl */
    button {
      width: 15em;
      --lavender: rgb(194, 82, 226);
      font-size: 15px;
      letter-spacing: 0.06em;
      position: relative;
      font-family: inherit;
      border-radius: 0.6em;
      overflow: hidden;
      transition: all 0.3s;
      line-height: 1.4em;
      border: 2px solid var(--lavender);
      background: linear-gradient(to right, rgb(194, 82, 226, 0.1) 1%, transparent 40%, transparent 60%, rgb(194, 82, 226, 0.1) 100%);
      color: var(--lavender);
      box-shadow: inset 0 0 10px rgb(194, 82, 226, 0.4), 0 0 9px 3px rgb(194, 82, 226, 0.1);
    }

    button:hover {
      color: rgb(238, 209, 247);
      box-shadow: inset 0 0 10px rgb(194, 82, 226, 0.6), 0 0 9px 3px rgb(194, 82, 226, 0.2);
    }

    button:before {
      content: "";
      position: absolute;
      left: -4em;
      width: 5em;
      height: 100%;
      top: 0;
      transition: transform .7s ease-in-out;
      background: linear-gradient(to right, transparent 1%, rgb(194, 82, 226, 0.2) 40%, rgb(194, 82, 226, 0.4) 60%, transparent 100%);
    }

    button:hover:before {
      transform: translateX(15em);
    }
  }
.profile_image{
  margin-inline-end: 100px;
}
  .row_social {
    display: flex;
    flex-wrap: wrap;
    vertical-align: middle;
    flex-direction: column;
    gap: 20px;

    .icon {
      display: block;
      margin-inline: auto;
      text-align: center;
      height: 7.7%;
      width: 100%;
      padding: 10px;
      border-radius: 10%;
      /* color: #ffffff80; */
      cursor: pointer;
      transition: 0.5s ease;
      font-size: 30px;
    }

    .icon:hover,
    :focus {
      color: #ffffff;

      text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
      box-shadow: 0 0 5px rgb(194, 82, 226), 0 0 20px rgb(194, 82, 226), 0 0 50px rgb(194, 82, 226),
        0 0 100px rgb(194, 82, 226);
    }

  }

  .typing-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .input-cursor {
    display: inline-block;
    width: 2px;
    height: 42px;
    background-color: white;
    margin-left: 8px;
  }


}

.projects-slide-contain {
  background-color: #d9d9d9;
  color: #0C1E3E;
  padding: 2% 0% 10%;

  .proj-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h2 {
    font-size: 4em;
    text-align: center;
  }

  .project-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    gap: 25px;
    height: 20rem;
  }

  .card {
    width: 200px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: width 0.3s ease, height 0.3s ease;
    background-color: #0C1E3E;
    color: white;
    cursor: pointer;
    border-radius: 12px;
    border: 5px solid transparent;
    background: linear-gradient(#131219, #131219) padding-box, linear-gradient(var(--angle),
        #070707,
        #576AE2,#8091fc) border-box;
    animation: 8s rotate linear infinite;
  }

  .img-card img {
    width: 100%;
    height: 100%;
    /* Takes up half of the card's height */
    object-fit: cover;
    border-radius: 10px;
  }

  .colcard {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    flex-grow: 1;
    /* transition: width 0.3s ease, height 0.3s ease; */
  }

  .colcard h3 {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    margin-bottom: 10px;
  }

  .colcard p {
    display: none;
  }

  button {
    display: none;
  }

  .card.active {
    width: 700px;
    height: 320px;
    flex-direction: row;
    border-radius: 10px;
    background: linear-gradient(#131219, #131219) padding-box, linear-gradient(var(--angle),
        #070707,
        #576AE2) border-box;
    animation: 2s rotate linear infinite;
  }

  .card.active .img-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;

  }

  .card.active .img-card img {
    width: 90%;
    height: 70%;
    transition: all 0.5s ease;
    object-fit: fill;
    margin: auto;
  }

  .card.active .colcard {
    flex: 1;
    text-align: left;
    justify-content: center;
  }

  .card.active .colcard button, .card.active .colcard p {
    display: inline-block;
    margin-top: 10px;
  }

}

.skills{
  padding: 10% 5%;
  .col{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}


@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
